* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
i[name]:hover::after{
  content: attr(name);
  background-color: #34b1da;
  color: #fff;
  position: absolute;
  border-radius: 5px;
  transform: translateX(-50%);
  padding: 5px;
  
  font-size: 12px;
  width: max-content;
  top: -10%;
  left: 10%;
}

div[name]:hover::after{
  
  content: attr(name);
  background-color: #34b1da;
  color: #fff;
  position: absolute;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  transform: translateY(-100%)translateX(-50%);
  top: -5px;
  left: 50%;
}
body {
  font-family: "Ubuntu", sans-serif;
}
header{
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
.header_line1{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 10px 15px 20px;
}
.header_image{
  width: 24%;
}
.header_input{
  width: 56%;
  height: 56px;
  display: flex;
  padding: 10.5px 40px 10.5px 23px;
  border-radius: 0 4px 4px 0;
}
.header_search{
  width: 85%;
  height: 100%;
    color: #2f2f2f;
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.header_button{
  width: 15%;
  height: 100%;
  color: #fff;
  padding: 0 20px;
    background-color: #34b1da;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0 4px 4px 0;
    border: none;
    transition: 0.3s;
}
.header_button:hover{
  transition: background-color 0.3s linear;
  background-color: #2f2f2f;
}
.contact_number{
  width: 20%;
  color: #2f2f2f;
  padding: 10.5px 0;
  font-size: 21px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.contact_number i{
  color: #34b1da;
}
.phone_number{
  padding-left: 10px;
  color: #2f2f2f;
  line-height: 30px;
  font-weight: 500;
  transition: 0.3s;
}
.header_line2{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 30px;
}
.categories{
  width: 24%;
  height: 60px;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  padding: 16px 17px 14px;
  background-color: #34b1da;
  border-radius: 4px 4px 0 0;
}
.nav_container{
  width: 76%;
  height: 60px;
  display: flex;
  margin-left: 30px;
}
.navigation{
  width: 82%;
  height: 100%;
  padding-left: 30px;
  background-color: #464646;
  display: flex;
  gap: 30px;
  border-top-left-radius: 4px;
}
.nav_items{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav_hover, .nav_hover2{
  transition: 0.3s;
}
.nav_items, .nav_items a{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.nav_items a{
  padding-left: 8px;
  text-transform: capitalize;
}
.nav_items, .nav_item1, .phone_number:hover{
  transition: color 0.3s linear;
  color: #34b1da;
}
.nav_items:hover .nav_hover {
  color: #34b1da;
}
.shopping_list:hover .nav_hover2{
  transition: color 0.3s linear;
  color: #9de4fb;
}
.shopping_list{
  width: 18%;
  height: 100%;
  background-color: #34b1da;
  color: #fff;
  border-top-right-radius: 4px;

}
.shopping_list a{
  padding-right: 10px;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 345px 227px 45px 512px auto;
  gap: 30px;
  padding: 0 10px;
  grid-template-areas:
    "main_content main_content main_content"
    "add_content1 add_content2 add_content3"
    "latest latest latest"
    "goods1 goods2 goods3"
    "ad_image ad_image ad_image";
}
.main_content {
  grid-area: main_content;
  background-image: url(images/main_photo.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}
.main_description {
  margin-left: 70px;
}
.main_line1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 7px;
  color: #34b1da;
  text-transform: uppercase;
}
span {
  font-weight: 400;
}
.main_line2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #888;
  margin-bottom: 5px;
}
.main_href {
  margin-top: 10px;
  padding: 7px 30px 8px;
  font-weight: 400;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  background: #464646;
  border-radius: 4px;
  text-transform: capitalize;
  transition: 0.3s;
}
.main_href:hover {
  transition: background-color 0.3s linear;
  background-color: #34b1da;
}
.add_padding {
  padding: 0 20px;
  position: relative;
}
.add_content1 {
  grid-area: add_content1;
  background-image: url(images/add_content_picture1.webp);
  background-size: cover;
}
.add_content1, .add_content2, .add_content3{
transition: 0.2s;
}
.add_content1:hover,
.add_content2:hover,
.add_content3:hover {
  transition: box-shadow 0.2s linear;
  box-shadow: inset 0 0 0 5px #9de4fb;
}
.add_description {
  margin: 40px 0 0 0;
}
.add_line1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  color: #2f2f2f;
  text-transform: uppercase;
}
.add_line2 {
  font-weight: 400;
}
.add_href {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #2f2f2f;
}
.add_href:hover {
  color: #34b1da;
}
.add_content2 {
  grid-area: add_content2;
  background-image: url(images/add_content_picture2.webp);
  background-size: cover;
}
.white_color {
  color: #fff;
}
.add_content3 {
  grid-area: add_content3;
  background-image: url(images/add_content_picture3.webp);
  background-size: cover;
}
.blue_color {
  color: #34b1da;
}
.latest {
  grid-area: latest;
  padding: 15px 22px;
  background: #f2f2f2;
}
.latest h3 {
  font-weight: 400;
  font-size: 15px;
  color: #2f2f2f;
}
.new, .sale{
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    position: absolute;
    padding: 0 6px;
    top: -10px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.new{
    background-color: #464646;
    left: 20px;
}
.little_square, .little_square2{
  width: 5px;
  height: 5px;
  background-color: #464646;
  position: absolute;
  bottom: -2.5px;
  left: calc(50% - 2.5px);
  transform: rotate(45deg);
}
.little_square2{
  background-color: #34b1da;
}
.sale{
    background-color: #34b1da;
    right: 20px;
}
.goods1 {
  grid-area: goods1;
  padding-top: 65px;
  border: 1px solid #ededed;
}
.goods_image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 84px;
}
.goods_line1 {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  color: #34b1da;
}
.goods_line2 {
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: #2f2f2f;
  transition: 0.3;
}
.goods_line2:hover{
  transition: color 0.3s linear;
color: #34b1da;
}
.goods_line3 {
  margin-top: 2px;
}
.goods_line4 {
  display: flex;
  gap: 10px;
  color: #2f2f2f;
  font-size: 14px;
  margin: 11px 0 10px;
}
.goods_icons {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  position: relative;
}
.back_blue {
  background-color: #34b1da;
  color: white;
}
.goods_icons:hover {
  transition: color 0.2s linear, background-color 0.2s linear;
  background-color: #2f2f2f;
  color: white;
  /* cursor: pointer; */
}
.goods2 {
  grid-area: goods2;
  padding-top: 65px;
  border: 1px solid #ededed;
}
.goods3 {
  grid-area: goods3;
  padding-top: 65px;
  border: 1px solid #ededed;
}
.goods_rate {
  font-size: 9px;
  display: flex;
  gap: 5px;
  color: #34b1da;
}
.ad_image {
  grid-area: ad_image;
}
.ad_image img{
  width: 100%;
}
footer{
  background: #464646;
  color: #fff;
  margin-top: 30px;
}
.footer_line1{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}
.footer_item{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 27px 0;
  
}
.footer_item a, .head_line{
  font-size: 12px;
    font-weight: 300;
    line-height: 27px;
    text-transform: none;
    color: #34b1da;
    padding-top: 3px;
    text-transform: capitalize;
}
.footer_item h3, .footer_line2 a{
  color: #f2f2f2;
}
.footer_item a:hover{
  color: #fff;
}
a span{
  text-transform: lowercase;
}
.footer_line2{
  max-width: 1200px;
  border-top: 1px solid #aeadad;
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 auto;
  padding: 12px 15px 31px;
  color: #fff;
  display: flex;
}
.footer_line2 a:hover{
  color: #34b1da;
}
.footer_line2 i{
  padding: 7px 7px 0 0;
  color: #34b1da;
}
/* @import url(tablet_styles.css); */